/* fonts */

@font-face {
    font-family: Caviar;
    src: url(Fonts/CaviarDreams_Bold.ttf);
}

/* variables */

:root {
    --bar-width: 3rem;
    --bar-height: 0.25rem;
    --bar-gap: 0.75rem;
    --primary-color: hsl(180, 50%, 30%);
    --secondary-color: hsl(180, 50%, 70%);
}

/* hamburger */

#hamburger {
    display: flex;
    flex-direction: column;
    gap: var(--bar-gap);
    cursor: pointer;
    width: var(--bar-width);
}

#hamburger:before,
#hamburger:after,
#hamburger input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--font-color);
    border-radius: 100vw;
    transition: 300ms ease-in-out;
    transform-origin: left center;
}

#hamburger input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

#hamburger input:checked {
    opacity: 0;
    width: 0;
}

#hamburger:has(input:checked)::before {
    rotate: 45deg;
    width: calc(var(--bar-height) * 3 + var(--bar-gap) * 2 * 1.41421356237);
}

#hamburger:has(input:checked)::after {
    rotate: -45deg;
    width: calc(var(--bar-height) * 3 + var(--bar-gap) * 2 * 1.41421356237);
}

#hamburger:has(input:checked) + #menu {
    translate: 0;
}

/* logo */

#logo {
    border: 2px solid white;
    border-radius: 100vw;
    height: 3em;
    width: auto;
    cursor: pointer;
}

/* h1 font */

h1 {
    font-family: Caviar, monospace;
    font-size: 2rem;
    color: var(--font-color);
    margin: auto;
    text-align: center;
}

/* anchor tag underlines */

a:after {
    border-color: var(--secondary-color);
}

/* sections style */

section {
    margin-bottom: 2em;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/* section variations */

section:nth-child(2n) > .section-heading-div {
    order: 2;
}

/* section children */

section > * {
    width: 50%;
    padding-inline: 10em;
}

/* section headings */

section h2 {
    text-align: center;
}

/* pre elements */

pre {
    white-space: pre-wrap;
}

/* news ticker */

/* (A) FORCE ALL ITEMS INTO SINGLE ROW */
.hmove { display: flex; }
.hitem { width: 100%; flex-shrink: 0; }
.hwrap { overflow: hidden; }
 
/* (B) MOVE ITEMS FROM RIGHT TO LEFT */
/* first item = 0, fourth item = -300% */
@keyframes tickerh {
  0% { transform: translatex(100%); }
  100% { transform: translatex(-100%); }
}
.hmove { animation: tickerh linear 20s infinite; }
.hmove:hover { animation-play-state: paused; }

/* mobile mode */

@media (max-width: 512px) {
    h1 {
        font-size: 1.25rem;
    }

    section:nth-child(2n) > .section-heading-div {
        order: 0;
    }

    section > * {
        width: 100%;
        padding-inline: 2em;
    } 
}